/*!
 *By Augusto Valerio
 */

/* Global Styles */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    color: #666;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "hypatia-sans-pro",sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 54px;
    line-height: 72px;
    margin-top: 36px;
    margin-bottom: 12px;
}

h2 {
    font-size: 36px;
    line-height: 54px;
    margin-top: 30px;
    margin-bottom: 12px;
}

h3 {
    font-size: 24px;
    line-height: 36px;
    margin-top: 24px;
    margin-bottom: 12px;
}

h4, h5 {
    font-size: 16px;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}

h6 {
    font-size: 12px;
    line-height: 16px;
}

.cta-btn {
    padding: 12px 24px;
    border: 0;
    line-height: 24px;
    font-family: "hypatia-sans-pro",sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0;
    background-color: #FF9F63;
    color: #034961;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-weight: bold;
    outline: 0;
}


.cta-btn:hover {
    background-color: #06799F;
    color: #FF8539;
}

.navbar.navbar-fixed-top {
    background-color: rgba(76,156,183,1);
    margin-bottom: 0;
    height: 7.5em;
    padding-top: 1.5em;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    border-bottom: 2px solid rgba(255,133,57,0.7);
}

.navbar.navbar-fixed-top.navbar-shrink {
    height: 3.125em;
    padding-top: 0;
    border-bottom: 0;
    background-color: #4C9CB7;
}

.navbar-brand  {
    min-width: 325px;
    vertical-align: middle;
    color: #fff !important;
    padding: 0 0 0 15px;
    font-size: 16px;
    height: auto;
}

.navbar-brand:hover {
    color:#FFF;
}

.navbar-brand strong {
    display: block;
    margin-top: .5em;
    font-size: 2em;
    line-height: 1.2;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.navbar-shrink .navbar-brand strong {
    margin-top: 0.56em;
    font-size: 1.3em;
}

.navbar-brand span {
    display: block;
    opacity:1;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.navbar-shrink .navbar-brand span {
    opacity: 0;
}

.navbar-brand img {
    width: 6em;
    float: left;
    margin-right: 0.8em;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    /* margin-left: -10px; */
}

.navbar-shrink .navbar-brand img {
    width: 3.125em;
    margin-right: 0.2em;
}

.navbar-nav>li>a {
    padding: 2.3em 1em 2.2em;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; 
    color: #FFFF63;
    text-transform: uppercase;
    font-family: "hypatia-sans-pro",sans-serif;
    line-height: 24px;
    font-weight: lighter;
}

.nav>li>a:focus {
    background-color: transparent;
}

.nav>li>a:hover, 
.nav>li.active>a {
    background-color: #FF8539;
}


.navbar-shrink .navbar-nav>li>a {
    padding: 0.8em 1em;
}

.img-hover:hover {
    opacity: 0.8;
}

/* lang picker */

.lang-picker-wrap {
    background-color: #2A86A5;
    position: absolute;
    width:100%;
    top: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.navbar-shrink .lang-picker-wrap {
    top: -1.5em;
}

.lang-picker {
    height: 1.5em;
}

.lang-picker .btn {
    height: 100%;
    padding: 0 5px;
    border-radius: 0;
    background-color: transparent;
    border: 0;
    float: right;
    color: #FFFF63;
    outline: 0 !important;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;
}

.open.lang-picker .btn {
    background-color: #4C9CB7;
}

.lang-picker .dropdown-menu {
    background-color: #4C9CB7;
    color: #FFFF63;
    float: right;
    left: auto;
    right: 14px;
    top: 92%;
    padding: 11px 0;
    border-radius: 0;
    border-top: 0;
    border-color: #2A86A5;
    outline: 0 !important;
}

.lang-picker .dropdown-menu li {
    padding: 0 15px;
}

.lang-picker .dropdown-menu li:hover {
    background-color: #FF9F63;
    color: #4C9CB7;
    cursor: pointer;
}

.lang-picker .btn:hover {
    color: #FF8539;
}

.lang-picker .btn img {
    margin-top: -3px;
    display: inline-block;
}
/* reservate drawer */

.reservate {
    margin-right: 23px;
}

#avail {
    width: 100%;
    height: 100%;
    padding: .5em .5em .5em;
    border: 0;
    line-height: 24px;
    font-family: "hypatia-sans-pro",sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    margin: 1.8em .5em 0;
    background-color: #FF9F63;
    color: #034961;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-weight: bold;
    outline: 0;
}

.active #avail {
    background-color: #FF6200;
}

#avail:hover {
    background-color: #06799F;
    color: #FF8539;
}

.navbar-shrink #avail {
    margin-top: 5px;
}

.reservate .form-horizontal {
    position: absolute;
    width: 1024px;
    right: -8px;
    top: -124px;
    background-color: rgba(76,156,183,0.8);
    padding: 1.5em 1.5em 24px;
    border-radius: 4px;
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.2);
    opacity: 0;
    -webkit-transition: top 1s ease, opacity 0.2s ease;
    -moz-transition: top 1s ease, opacity 0.2s ease;
    -ms-transition: top 1s ease, opacity 0.2s ease;
    -o-transition: top 1s ease, opacity 0.2s ease;
    transition: top 1s ease, opacity 0.2s ease;
    
}

.reservate.active .form-horizontal {
    top: 120px;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.navbar-shrink .reservate.active .form-horizontal {
     top: 72px;
     background-color: #4C9CB7;
     /* border: 1px solid #045D7B; */
}

.reservate fieldset {
    margin: 0 -15px;
}

.reservate .control-group {
    width: 25%;
    float: left;
    padding: 0 15px;
    position: relative;
    /* margin-bottom: 24px; */
}

.reservate .help-block {
    display: none;
}

.reservate legend {
    width: 100%;
    margin: 0 0 22px;
    padding: 0 15px;
    border: 0;
    color: #FFFF63;
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 1px;
    font-family: "hypatia-sans-pro",sans-serif;
    text-transform: uppercase;
    display: none;
}

.reservate legend:after {
    content:"";
    width: 100%;
    height: 1px;
    display: block;
    background-color: #FFFF63;
}

.reservate .control-label {
    position: absolute;
    z-index: 0;
    padding: 12px 12px;
    background-color: #2A86A5;
    color: #fff;
    display: block;
    width: 88%;
    text-align: left;
    border-radius: 2px;
}

.reservate input[type=text] {
    background-color: transparent;
    position: relative;
    z-index: 1;
    padding: 12px;
    border: 0;
    line-height: 24px;
    color: #fff;
    outline: none;
    width: 100%;
}

.reservate input[type=text]:focus,
.reservate input.solid {
    background-color: #06799F;
}

.datepicker-dropdown {
    background-color: #4C9CB7;
    color: #fff;
}

.custom-select .controls {
    padding: 12px;
    background-color: #2A86A5;
    border-radius: 2px;
}

.reservate select {
    background-color: transparent;
    position: relative;
    z-index: 1;
    padding: 12px 15px;
    border: 0;
    line-height: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    width: 100%;
}

.reservate .btn {
    width: 100%;
    padding: 12px 24px;
    border: 0;
    line-height: 24px;
    font-family: "hypatia-sans-pro",sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0;
    background-color: #FF9F63;
    color: #034961;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-weight: bold;
    outline: 0;
}

.reservate .btn:hover {
    background-color: #06799F;
    color: #FF8539;
}

/* Home Page Hero */

.hero {
    height: 48em;
        background-image: url(../image/hero-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 7em;
    position: relative;
}

.intro-text {
    color: #fff;

    text-align: center;
    position: relative;
    top: 12em;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    margin: 0 20%;
}

.intro-text h2 {
    margin: 16px 0 24px 0;
    font-size: 54px;
    text-transform: uppercase;
}

.intro-text p {
    font-size: 36px;
}

.hero .page-scroll {
    text-align: center;
    position: absolute;
    bottom: 6em;
    left: 0;
    right: 0;
}

.hero .fa {
    color: #fff;
    font-size: 54px;
    text-decoration: none;
}

.section-header {
    background-color:#4C9CB7;
    text-align: center;
    border-bottom: 2px solid #FF8539;
    position: relative;
    overflow: hidden;
    margin-bottom: 72px;
    padding-bottom: 24px;
}

.section-header h2 {
    margin: 48px 0 12px;
    font-size: 54px;
    line-height: 72px;
    text-transform: uppercase;
    color: #fff;
    
    text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
}

.section-header h2:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #FFFFCC;
    width: 430px;
    height: 430px;
    border-radius: 360px;
    top: -384px;
    left: 50%;
    margin-left: -215px;
}

.section-header p {
    color: #fff;
    margin-bottom: 34px;
    font-family: "learning-curve",cursive;
    font-size: 36px;
}

/* ===== ABOUT SECTION ===== */

#about .lead {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
    padding: 48px;
    background-color: rgba(4,93,123,0.9);
    margin: 0 10%;
    color: #FFFF63;
    border-radius: 5px;
    text-align: center;
}

#about .lead:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #FFFFCC;
    width: 430px;
    height: 430px;
    border-radius: 360px;
    top: -479px;
    left: 50%;
    margin-left: -215px;
}

.about-section .panel {
    background-color: #4C9CB7;
    color: #fff;
    border: 0px solid #06799F;
    margin-bottom: 71px;
}

.about-section .panel-default>.panel-heading {
    background-color: #2A86A5;
    color: #fff;
    border-color: #06799F;
    text-transform: uppercase;
    padding: 143px 0 0;
    background-position: bottom center;
}

.about-section .panel-default>.panel-heading h4 {
    margin: 0;
    line-height: 24px;
    color: #FFFF63;
    background-color: rgba(3,73,97,0.7);
    padding: 11px 24px 12px;
}

.about-section .panel-default>.panel-heading h4 i {
    color: #FF9F63;
    font-size: 24px;
}

.about-section .panel-body {
    padding: 24px;
    font-weight: 300;
}

.about-section .panel-body p {
    margin-bottom: 24px;
}

.bio-note {
    padding: 120px 0 96px;
    background-image: url(../image/bio-img.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
}

.bio-note .cta-btn {
    display: block;
    max-width: 300px;
    margin: 12px auto 0px;
}

/* ===== AREAS SECTION =====*/

.areas-section {

}

.areas-section .section-header {
    margin-bottom: 0;
}

.areas-section img {
    height: 504px;
}

.coffee-area {
    /* padding: 48px 0; */
    background-color: #FFFFCC;
    color: #4C9CB7;
}

.rest-area {
    /* padding: 48px 0; */
    background-color: #FF8539;
    color: #fff;
}

.section-heading {
    text-transform: uppercase;
    margin-top: 36px;
    margin-bottom: 24px;
    line-height: 54px;
    font-size: 36px;
}

.areas-section .lead {
    font-size: 24px;
    
    line-height: 36px;
    margin-bottom: 12px;
}

/* ======= QUOTES SECTION ======== */

.quotes-section {
    background-image: url(https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xfp1/t31.0-8/10317821_805199249503741_7818139789162484906_o.jpg);
    text-align: center;
    color: #fff;
    /* background-position: center; */
}

.quotes-section .bg-overlay {
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: rgba(3,73,97,0.9);
}

.quotes-section .fa-4x {
    font-size: 48px;
    
    color: #FFFF63;
}

.quotes-section blockquote {
    font-style: italic;
    padding: 12px 24px;
    border: 0;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    margin: 0;
}

.quotes-section blockquote p {
    margin-bottom: 12px;
    
}

.quotes-section blockquote footer{
    font-family: "learning-curve", cursive;
    
    font-size: 36px;
    color: #fff;
    padding: 12px 0 24px;
    line-height: 24px;
    margin: 0;
}

.quotes-section .carousel-indicators {
  	bottom: -30px;
}

.quotes-section .carousel-indicators > li {
    background-color: #FF6200;
    border: none;
}

/* ========= ROOMS SECTION ========= */

.rooms-section {

}

.rooms-section .room-item h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.rooms-section .room-item h3 {
    margin-top: 0;
}

#map {
    height: 300px;
    width: 100%;
}

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}